<style>

</style>

<div class="container">

<!-- begin error message -->
<div id="viewer-error" class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
<!-- end error message -->

<!-- begin breadcrumb -->
<ol class="breadcrumb" ng-hide="error">
  <li><a href="#/">Home</a></li>
  <li>{{dna.name}}</li>
</ol>
<!-- end breadcrumb -->

<!-- begin diagram -->
<div class="diagram" ng-hide="error">

	<!-- begin dna diagram -->
	<plasmid plasmidheight="630" plasmidwidth="750" sequencelength='{{dna.length}}'>
		<plasmidtrack radius='235' class="plasmidtrack">
			<tracklabel
				text='{{dna.name}}'
				labelclass="tracklabeltitle">
			</tracklabel>
			<tracklabel labelclass="tracklabelsmall" text="Click on a feature region for more details" vadjust="30"></tracklabel>
			<trackmarker
				ng-repeat="feature in dna.dnafeatures | orderBy: 'start' "
				start='{{feature.start}}'
				end='{{feature.end}}'
				ng-class="(isFeatureSelected(feature)) ? 'feature-marker-selected' : 'feature-marker'"
				arrowendlength="{{feature.strand * 4}}"
				arrowstartlength="{{feature.strand * (-4)}}"
				markerclick="featureDiagramClick(feature)">
				<markerlabel
					text="{{feature.dnafeature.name}}"
					labelclass="markerlabel"
					vadjust='50'>
				</markerlabel>
				<trackscale
					interval='100'
					direction='in'
					showlabels='1'
					class="track-scale"
					labelvadjust='10'
					labelclass='scale-label'>
				</trackscale>
			</trackmarker>
		</plasmidtrack>
	</plasmid>
	<!-- end dna diagram -->

<div>
<!-- end diagram -->

<!-- begin feature table -->
<div class="feature-table" ng-hide="error">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Type</th>
				<th>Visable</th>
				<th>Start</th>
				<th>End</th>
				<th>Strand</th>
				<th>Size</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="feature in dna.dnafeatures | orderBy: 'start' " ng-class="{'selected-feature-row' : feature.dnafeatureId == selectedFeature.dnafeatureId }">
				<td ng-click="toggleFeatureSelection(feature)"><input type="checkbox" class="table-select" ng-checked="isFeatureSelected(feature)"></td>
				<td ng-click="toggleFeatureSelection(feature)">{{feature.dnafeature.name}}</td>
				<td ng-click="toggleFeatureSelection(feature)">{{feature.dnafeature.category.name}}</td>
				<td ng-click="toggleFeatureSelection(feature)">Yes</td>
				<td ng-click="toggleFeatureSelection(feature)">{{feature.start}}</td>
				<td ng-click="toggleFeatureSelection(feature)">{{feature.end}}</td>
				<td ng-click="toggleFeatureSelection(feature)">{{getStrandText(feature.strand)}}</td>
				<td ng-click="toggleFeatureSelection(feature)">{{feature.dnafeature.length}}</td>
				<td ng-hide="isFeatureSelected(feature)" ng-click="toggleFeatureSelection(feature)"></td>
				<td ng-show="isFeatureSelected(feature)"><button type="button" class="btn btn-xs btn-default view-seq-btn"  ng-click="showModal()">Sequence</button></td>
			</tr>
		</tbody>
	</table>
</div>
<!-- end feature table -->

<div class="dna-modal" ng-show="showDNAModal">
	<div class="modal-content">
		<h4>{{selectedFeature.dnafeature.name}}</h4>
		<div class="modal-close" ng-click="hideModal()">
			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</div>
		<div class="sequence">
			<pre>{{wrapDNASequence(selectedFeature.dnafeature.pattern.bases)}}</pre>
		</div>
	</div>
</div>
